# Portfolio
PORTFOLIO_URL=https://your-portfolio.com

# GitHub
GITHUB_PAT=
GITHUB_USERNAME=adityakumarmishra

# Blockchain / Web3
RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your_key

# LinkedIn
LINKEDIN_EMAIL=your@email.com
LINKEDIN_PASSWORD=yourpassword

# Twitter/X
X_BEARER_TOKEN=
X_API_KEY=
X_API_SECRET=
X_ACCESS_TOKEN=
X_ACCESS_SECRET=
